<!DOCTYPE html>
<html>
<head>
	<title>Update an Animal</title>
</head>
<body>
	<p><a href="/">Home</a> |
		<a href="/animals/new">Add a new animal</a></p>
	<h3>Update an Animal</h3>
	<form action="/animals/<%=animal._id %>" method="post">
		<table>
			<tr>
				<td>Name:<%=animal.name %></td>
				<td><input type="text" id="name" name="name" value="<%= animal.name %>" ></td>
			</tr>
			<tr>
				<td>Height:</td>
				<td><input type="text" id="height" name="height" value=<%= animal.height %> ></td>
			</tr>
			<tr>
				<td>Weight:</td>
				<td><input type="text" id="weight" name="weight" value=<%= animal.weight %> ></td>
			</tr>
			<tr>
				<td>Additional info:</td>
				<td><input type="text" id="info" name="info" value="<%= animal.info %>" ></td>
			</tr>
				<input type="hidden" id="id" name="id">
			<tr>
				<td><input type="submit" value="Update"></td><td></td>
			</tr>
		</table>
	</form>
</body>
</html>